@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 166 0% 100%;
  --foreground: 166 0% 10%;
  --card: 166 0% 100%;
  --card-foreground: 166 0% 15%;
  --popover: 166 0% 100%;
  --popover-foreground: 166 95% 10%;
  --primary: 166 69.2% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 166 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 128 10% 95%;
  --muted-foreground: 166 0% 40%;
  --accent: 128 10% 90%;
  --accent-foreground: 166 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 166 0% 100%;
  --border: 166 20% 82%;
  --input: 166 20% 50%;
  --ring: 166 69.2% 42%;
  --radius: 0.5rem;
 }
.dark  {
  --background: 166 10% 5%;
  --foreground: 166 0% 90%;
  --card: 166 0% 0%;
  --card-foreground: 166 0% 90%;
  --popover: 166 10% 5%;
  --popover-foreground: 166 0% 90%;
  --primary: 166 69.2% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 166 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 128 10% 15%;
  --muted-foreground: 166 0% 60%;
  --accent: 128 10% 15%;
  --accent-foreground: 166 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 166 0% 90%;
  --border: 166 20% 18%;
  --input: 166 20% 18%;
  --ring: 166 69.2% 42%;
  --radius: 0.5rem;
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}